<%-include('../partials/head')%>
   <title>DeliBerri - Detalle de producto</title>

   <body>

      <%-include('../partials/header')%>

         <main>

            <section class="conteiner-detalleProducto">

               <div class="products-conteiner-detalleProducto">

                  <div class="product-detalleProducto" data-name="p-1">
                     <picture class="product-image-detalleProducto"><img src="/img/cerveza-andes-rubia.jpg" alt=""
                           class="product-imageconteiner-detalleProducto"></picture>
                     <h3 class="product-name-detalleProducto">Cerveza Andes Origen Rubia Golden rubia lata 473ml 6
                        unidades</h3>
                     <div class="price-detalleProducto">$6.770</div>
                     <p class="description-detalleProducto"> Andes Origen Rubia es una cerveza de Mendoza. Se recomienda
                        servir en copa. Está hecha con agua de deshielo de la cordillera y pura malta tostada a fuego
                        lento, que ofrece colores y texturas bien distintivas. Sabor a malta, leve aroma a lupulo y a
                        cereal, cuerpo medio, refrescante.</p>

                     <p class="stock-detalleProducto">Stock disponible</p>

                     <div class="control-formulario-detalleProducto">
                        <label class="control-formulario-titulo-detalleProducto">Cantidad</label>
                        <input type="number" name="cantidad" class="control-detalleProducto" placeholder="1" required>
                     </div>

                     <div class="buttons-detalleProducto">
                        <a href="#" class="buy-detalleProducto">Comprar ahora</a>
                        <a href="#" class="cart-detalleProducto">Añadir al carrito</a>
                     </div>
                  </div>

               </div>
            </section>

         </main>

         <%-include('../partials/footer')%>

   </body>

   </html>