<header>
   <div class="navbar">
      
<a href='/'><img src="/img/Logo_DeliBirri_v1prueba.png" alt="logo" class="logo"></a>

<script src="../../js/search  " defer></script>

      <form action="/search" method="POST" id="search-form" class="search-form">
         <input placeholder="Buscar Productos.." name="title" class="round">
         <i class="fa fa-search"></i>
      </form>

       
   </div>

   <div>
      <nav>
         <ul class="nav-menu">
            <li class="nav-item">
               <a href="/sale" class="nav-link">Promociones</a>
               <a href="/sale"><i class="fas fa-dollar-sign"></i></a>
            </li>
            <li class="nav-item">
               <a href="/wines" class="nav-link">Vinos </a>
               <a href="/wines"><i class="fas fa-wine-bottle"></i></a>
            </li>
            <li class="nav-item">
               <a href="/beers" class="nav-link">Cervezas </a>
               <a href="/beers"><i class="fas fa-beer"></i></a>
            </li>
            <li class="nav-item">
               <a href="/spirits" class="nav-link">Licores</a>
               <a href="/spirits"> <i class="fas fa-glass-martini"></i></a>
            </li>

            <li class="nav-item">
               <a href="/refrescos" class="nav-link">Refrescos</a>
               <a href="/refrescos"> <i class="fas fa-glass-whiskey"></i></a>
            </li>

            <% if (locals.isLogged) { %>
               <li class="nav-item">
                  <a href="/productCart" class="nav-link">Carrito de Compras</a>
                  <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
               </li>
               <li class="nav-item">
                  <a href="/profile" class="nav-link">Perfil</a>
                  <a href="/profile"> <i class="fas fa-user"></i></a>
               </li>
               <li class="nav-item">
                  <a href="/logout" class="nav-link">Cerrar sesión</a>
                  <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
               </li>
               <% } else { %>
                  <li class="nav-item">
                     <a href="/login" class="nav-link">Ingresá / Registrate</a>
                     <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
                  </li>
                  <% } %>
         </ul>
      </nav>
   </div>

   <div class="hamburger">
      <i class="fa-solid fa-bars"></i>
   </div>

</header>