<%-include('../partials/head')%>
   <title>DeliBerri - Registro</title>

   <body>

      <%-include('../partials/header')%>

         <form action='/register' class="register" method="POST" enctype="multipart/form-data">

            <div class="control-formulario-login">
               <label class="control-formulario-titulo ">Registrate en Deliberri!</label>
               <label>Datos de Usuario</label>
               <input type="text" name="name" id='name' class="control" placeholder="Nombre/s">
            </div>

            <div class="control-formulario-login">
               <input type="text" name="lastname" id='lastname' class="control" placeholder="Apellido/s">
            </div>

            <div class="control-formulario-login">
               <input type="text" name="user" id='user' class="control" placeholder="Usuario">
            </div>

            <div class="control-formulario-login">
               <input type="email" name="email" id='email' class="control" placeholder="Correo Electronico">
            </div>

            <div class="control-formulario-login">
               <input type="password" name="password" id="password" placeholder="Contraseña" class="control">
            </div>

            <div class="control-formulario-login">
               <label>Fecha de Nacimiento</label>
               <input type="date" name="date" id="date" class="control">
            </div>

            <div class="control-formulario-login">
               <label>Lugar de Nacimiento</label>

               <div class="control-formulario-login">
                  <select name="nationality" value="nationality" id="nationality" class="control"
                     placeholder="nationality">
                     <optgroup label="Pais">
                        <option value="Argentina">Argentina</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Brazil">Brazil</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Chile">Chile</option>
                        <option value="Perú">Perú</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Otros">Otros</option>
                     </optgroup>
                  </select>
               </div>
            </div>

            <div class="control-formulario-login">
               <label>Categoría Preferida</label>

               <div class="control-formulario-login">
                  <select name="interestCategory" value="interestCategory" id="interestCategory" required>
                     <option value="1">Licores </option>
                     <option value="2"> Cervezas</option>
                     <option value="3">Vinos</option>
                     <option value="4">Bebidas No Alcoholicas</option>
                     <option value="5">Otros</option>
                     <option value="6">No tengo preferencia</option>
                  </select>
               </div>
            </div>

            <div class="control-formulario-login">
               <label for="name">Avatar del Usuario </label>
               <div class="control-formulario-login">
                  <p><input type="file" name="avatar" id="avatar">
                  </p>
               </div>
            </div>

            <div style="color: red" class="errores">
               <ul></ul>
            </div>

            <div class="control-formulario">
               <button type="submit" class="boton-formulario-register">Guardar</button>
               <button type="reset" class="boton-formulario-register">Borrar todo</button>
            </div>

            <div class="control-formulario">
               <a href="/login" class="otras-opciones">¿Ya tenés una cuenta? Ingresá!</a>
            </div>

         </form>

         <%-include('../partials/footer')%>

            <script src='/js/usersRegisterValidation.js'></script>

   </body>

   </html>