<footer class="footer">

    <div class="container">
       <div class="row">
          <div class="footer-col">
             <h4>Compañia</h4>
             <ul>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Para Empresas</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
             </ul>
          </div>
 
          <div class="footer-col">
             <h4>Ayuda</h4>
             <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Status de Envios</a></li>
                <li><a href="#">Reeembolsos</a></li>
             </ul>
          </div>
 
          <div class="footer-col">
             <h4>Nuestras Tiendas</h4>
             <ul>
                <li><a href="#">Ubicaciones</a></li>
                <li><a href="#">Encuentra la tienda más cercana <i class="fas fa-search"></i></a></li>
                <li><a href="#">Contacto</a></li>
             </ul>
          </div>
 
          <div class="footer-col">
             <h4>Seguinos en nuestras redes sociales</h4>
             <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
             </div>
             <small class="copyright">&copy; Copyright 2022, DeliBerri Corporation</small>
          </div>
 
       </div>
 
       <ul>
          <li class="copyright">Tel. +54 123-4567-890 (Matriz)</li>
          <li class="copyright">cs@deliberri.com.ar</li>
       </ul>
 
    </div>
 </footer>